.blue__button {
  background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  min-width: 110px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  position: relative;

  // трюк с анимацией градиента
  &:before{
    border-radius: inherit;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
    transition: opacity 0.1s ease;
  }

  &:hover:before {
    opacity: 1;
  }

  &:focus {
    border: 2px solid #45A5FF;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  }

  &__disabled {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #C4C4C4;
    min-width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: default;
  }

  .blue__button_children {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
}